<nav>
  <div>
    <span class="material-symbols-outlined">
      paid
    </span>
    <h2>Budget Tracker</h2>
    <span class="material-symbols-outlined">
        paid
    </span>
  </div>
</nav>
<section class='sign-up-page'>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form card' }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="card_header">
      <span class="material-symbols-outlined">
        how_to_reg
      </span>
      <h2 class="form_heading">Sign up</h2>
    </div>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class:'input' %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'input' %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <em>(6 characters mininum)</em>
      <%= f.password_field :password, autocomplete: "new-password", class:'input' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'input' %>
    </div>

    <div class="actions">
      <%= f.submit "SIGN UP" %>
    </div>
  <% end %>
  <p>Already registered?</p>
  <%= button_to 'SIGN IN', new_user_session_path, method: :get %>
</section>
