<div id="<%= dom_id group %>" class="bg-white rounded-lg shadow-md mb-4 p-8">
  <div class="flex flex-col items-center">
    <%= image_tag("https://raw.githubusercontent.com/karayamanemre/budget-tracker/dev/#{group.icon}", class: "w-20 h-20 object-cover mb-2 rounded") %>
    <p class="text-xl font-semibold mb-1"><%= group.name.titleize %></p>
    <p class="text-gray-500 mb-1"><%= group.created_at.strftime("%d %b %Y") %></p>
    <p class="text-lg font-bold">$<%= group.expenses.sum(:amount) %></p>
  </div>
</div>