<div id="<%= dom_id group %>" class='group-item'>
  <%= image_tag("#{group.icon}") %>
  <p><%= group.name.capitalize %></p>
  <p><%= group.created_at.strftime("%d %b %Y") %></p>
  <p>$<%= group.expenses.sum(:amount) %></p>
</div>