<nav>
  <% if user_signed_in? %>
    <%= link_to "account_box", user_path(current_user), class:"material-symbols-outlined" %>
  <% end %>
  <h2>Categories</h2>
  <% if user_signed_in? %>
    <%= link_to "logout", destroy_user_session_path, data: { turbo_method: :delete }, class:"material-symbols-outlined" %>
  <% end %>
</nav>
<section class='group-index-page'>
  <p><%= notice %></p>
  <p>Total expenses for <%= current_user.name.titleize %>: $<%= @total_expenses %></p>
  <div id="groups" class='groups'>
    <% @groups.each do |group| %>
      <%= link_to group do %>
        <%= render group %>
      <% end %>
    <% end %>
  </div>
</section>
<div class='category-btn'>
  <%= button_to 'ADD CATEGORY', new_group_path, method: :get %>
</div>