<p><%= notice %></p>

<%= render @group %>

<div>
<%= button_to "Delete this group", @group, method: :delete %>
</div>

<h2>Transactions</h2>

<div>
  <%= link_to "NEW TRANSACTION", new_expenses_path %>
</div>

<% @group.expenses.each do |g| %>
  <div>
    <div>
      <%= button_to "X", g, method: :delete %>
      <p><%= g.name %></p>
    </div>
    <p>$<%= g.amount %></p>
  </div>
<% end %>