<nav>
  <h1>Budget Tracker</h1>
</nav>
<section class='sign-in-page'>
  <h2>Sign In</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "SIGN IN" %>
    </div>
  <% end %>
  <p>Not registered?</p>
  <%= button_to 'SIGN UP', new_user_registration_path, method: :get %>
</section>