<div>
<%= form_with(model: expense, html: { class: 'form card' }) do |form| %>
  <div class="card_header">
    <span class="material-symbols-outlined">
      add_box
    </span>
    <h2 class="form_heading">Add expense</h2>
  </div>

  <div class='field'>
    <%= form.label :name %>
    <%= form.text_field :name, class:'input' %>
  </div>

  <div class='field'>
    <%= form.label :amount %>
    <%= form.text_field :amount, class:'input' %>
  </div>

  <div class='field'>
    <p>Select a category</p>
    <%= form.select :group_id, @group.all.collect {|u| [u.name.capitalize, u.id] }, class:'input' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
</div>